In [ ]:
import pymongo
import pandas as pd
import uuid

In [72]:
client=pymongo.MongoClient("mongodb://admin:admin@localhost:27017/source_db?authSource=admin")

In [167]:
db=client["source_db"]

In [168]:
collection_name = "user_recommendations"
collection = db[collection_name]
data = list(collection.find({}, {"_id": 0}))

In [169]:
df=pd.DataFrame(data)

In [180]:
 # Разворачиваем рекомендованные продукты в отдельные строки
# Разворачиваем рекомендованные продукты в отдельные строки
df_exploded = df.explode("recommended_products").reset_index(drop=True)
df_exploded = df_exploded.rename(columns={'recommended_products' : 'recommended_product'})

In [183]:
df_exploded

,user_id,recommended_product,last_updated
0,49d25187-d859-4507-b84a-c3d2920efe08,5ce51489-d335-4e7e-a965-3fdbef48123b,2025-01-26T15:03:42
1,49d25187-d859-4507-b84a-c3d2920efe08,41354a4e-17fe-4442-8a84-5f983c3eaf4c,2025-01-26T15:03:42
2,49d25187-d859-4507-b84a-c3d2920efe08,878fd80e-914a-411e-82b0-22f30a0fd11c,2025-01-26T15:03:42
3,49d25187-d859-4507-b84a-c3d2920efe08,7abd989c-12bb-475e-a971-3c7024c37bb2,2025-01-26T15:03:42
4,49d25187-d859-4507-b84a-c3d2920efe08,84969f66-93db-4e67-b4b0-66ae51b6a901,2025-01-26T15:03:42
...,...,...,...
29917,72322dd7-194e-4dc9-a6e1-3c239cfac9fd,73e65882-e370-4f9d-ac43-72e0a139ec6d,2025-02-20T09:47:43
29918,72322dd7-194e-4dc9-a6e1-3c239cfac9fd,210124a3-331f-498b-b0ba-6ec74fdc96c7,2025-02-20T09:47:43
29919,72322dd7-194e-4dc9-a6e1-3c239cfac9fd,97f276b5-069b-4fc8-8b0d-f9e745c12b17,2025-02-20T09:47:43
29920,72322dd7-194e-4dc9-a6e1-3c239cfac9fd,1820c0a3-68ea-4daf-8519-911d6f2646fa,2025-02-20T09:47:43
29921,72322dd7-194e-4dc9-a6e1-3c239cfac9fd,a3ecbabd-6fe0-4d83-9cba-70704535a9f0,2025-02-20T09:47:43

In [184]:
# Удаляем дубликаты
# Удаляем дубликаты
df_exploded.drop_duplicates(subset=['user_id', 'recommended_product'], inplace=True)
df_exploded.dropna(axis="rows", how='any', inplace=True)